*{margin: 0px; padding: 0px}
body{
	background: skyblue;
}
#header{
	color: #3c3c3c;
	width: 87.39%;
	height: 80px;
	float: right;
	background: #00001a;
	color: #e6e6ff;
}
#para{
	font-family:arial;
	font-size: 40px;
	text-align: center;
	padding-top: 14px;
}
#sideBar{
	width: 170px;
	height: 100%;
	float: left;
	float:top;
	box-shadow: 0px 10px 12px gray;
}
#sideBarContents{
	padding-top:80px;
	width: 170px;
	height:800px;
	float: left;
	background:#333;
}
#sideBarContents>li{
	width: 170px;
	height:100px;
	float:left;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	
}
li>a{
	width: 170px;
	height:70px;
	display: block;
	color: white;
	padding-top:30px;
	text-align: center;
	font-family: cursive;
	font-size:18px;
	text-decoration: none;
	float:top;	
}
li>a:hover,
li>a:focus
{
	background: #0000ff;
	color: #333;
}
